.dashboard{
    display:flex;
    min-height:100vh;
}

.sidebar{
    width:260px;
    background:#111827;
    padding:30px;
}

.sidebar nav{
    margin-top:40px;
    display:flex;
    flex-direction:column;
    gap:20px;
}

.sidebar a{
    color:#cbd5e1;
}

.content{
    flex:1;
    padding:40px;
}

.topbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.cards{
    margin-top:40px;
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:20px;
}

.card{
    background:#1e293b;
    padding:30px;
    border-radius:20px;
}